@page
@model Project.App.Frontend.Pages.DirectivoDeleteModel
@{
}

<h1>El registro que se va a eliminar es: </h1>

<h1> @Model.directivo.nombre</h1>
<h1> @Model.directivo.apellidos</h1>
<h1> @Model.directivo.id</h1>
<form method="post">
    <input type="hidden" asp-for="directivo.id">
    <input type="hidden" asp-for="directivo.nombre">
    <input type="hidden" asp-for="directivo.apellidos">
    <input type="hidden" asp-for="directivo.identificacion">
    <input type="hidden" asp-for="directivo.edad">
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
<a class="nav-link text-dark" asp-area="" asp-page="./DirectivoList">Lista directivos</a>
